<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>FaceUTEQ</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Header Start -->
    <head th:insert="common/header :: header"></head>
    <!-- Header End -->
</head>

<!-- Navbar Start -->
<head th:insert="common/header :: navbar"></head>
<!-- Navbar End -->

<!-- All content -->

<div id="layoutSidenav_content" style="background-color: #f5f7fb;">
    <main>
        <div class="container-fluid px-4">









            <div class="row row-cols-1 row-cols-md-4 g-6">
                <div data-th-each="u:${usersFriends}">

                    <div class="card mt-3">
                        <div class="card-body">
                            <div data-th-text="${u.estudiante} == null ? ${u.profesor.n1Prof} + ' ' + ${u.profesor.apProf} : ${u.estudiante.n1Estu} + ' ' + ${u.estudiante.apEstu}"></div>
                            <br>
                            <div class='float-start ms-2' data-th-text="${u.estudiante} == null ? ${u.profesor.titulo.nomTitu} : ${u.estudiante.carrera.nomCarr}"></div>
                            <br>
                        </div>
                        <!--<div class="card-footer" align="center">
                            <form method="post" th:action="@{/deleteamigo}">
                                <input type="hidden" id="id" name="id" th:value="${u.idUsua}">
                                <input class="btn btn-danger" type='submit' value="Eliminar amigo">
                            </form>
                        </div>-->
                    </div>

                </div>
            </div>









        </div>
    </main>
</div>

</div>


<!-- All content -->

<!-- Footer Start -->
<head th:insert="common/footer :: footer"></head>
<!-- Footer End -->

<!-- Scripts Start -->
<head th:insert="common/footer :: scripts"></head>
<!-- Scripts End -->
</body>
</html>
